{% extends "layout.html" %}
{% import 'helper.html' as codeblock %}
{% block title %}Home{% endblock %}

{% block body %}

    <h1 class="display-4">qReadReviews</h1>
    <div class="container">
            <div class="list-group"> 
            {% for info in data %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    {{ codeblock.bookbox(info.isbn ,info.title, info.author, info.rating, info.year, info.reviews_count) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}